.element
    &.bg-dark,
    &.bg-secondary,
    &.bg-primary
        @extend .text-white
        a
            color: $white

        .content-element__title
            @extend .text-white
        .content-element__subtitle
            @extend .text-white-50

        @for $index from 1 through 6
            h#{$index},
            .h#{$index}
                @extend .text-white

    .content-wrapper
        p:last-child
            @extend .mb-0
            
.bg-image
    position: relative
    z-index: 0
    .content-wrapper
        position: relative
        z-index: 2
    &::after
        position: absolute
        content: ''
        display: block
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 0
        mix-blend-mode: var(--bg-mixfilter)
        background-repeat: var(--bg-repeat)
        background-size: var(--bg-size)
        background-position: var(--bg-position)
        opacity: calc( var(--bg-opacity) / 100 )
        background-attachment: scroll
        @include media-breakpoint-up(lg)
            background-attachment: var(--bg-attachment)

        background-image: var(--bg-image)
        @media only screen and (-webkit-min-device-pixel-ratio: 2)
            background-image: var(--bg-image-2x)
        @media only screen and ( min--moz-device-pixel-ratio: 2)
            background-image: var(--bg-image-2x)
        @media only screen and ( -o-min-device-pixel-ratio: 2/1)
            background-image: var(--bg-image-2x)
        @media only screen and ( min-device-pixel-ratio: 2)
            background-image: var(--bg-image-2x)
        @media only screen and ( min-resolution: 192dpi)
            background-image: var(--bg-image-2x)
        @media only screen and ( min-resolution: 2dppx)
            background-image: var(--bg-image-2x)

        @media only screen and (-webkit-min-device-pixel-ratio: 3)
            background-image: var(--bg-image-3x)
        @media only screen and ( min--moz-device-pixel-ratio: 3)
            background-image: var(--bg-image-3x)
        @media only screen and ( -o-min-device-pixel-ratio: 3/1)
            background-image: var(--bg-image-3x)
        @media only screen and ( min-device-pixel-ratio: 3)
            background-image: var(--bg-image-3x)
        @media only screen and ( min-resolution: 288dpi)
            background-image: var(--bg-image-3x)
        @media only screen and ( min-resolution: 3dppx)
            background-image: var(--bg-image-3x)

        @include media-breakpoint-up(sm)
            background-image: var(--bg-image-sm)
            @media only screen and (-webkit-min-device-pixel-ratio: 2)
                background-image: var(--bg-image-sm-2x)
            @media only screen and ( min--moz-device-pixel-ratio: 2)
                background-image: var(--bg-image-sm-2x)
            @media only screen and ( -o-min-device-pixel-ratio: 2/1)
                background-image: var(--bg-image-sm-2x)
            @media only screen and ( min-device-pixel-ratio: 2)
                background-image: var(--bg-image-sm-2x)
            @media only screen and ( min-resolution: 192dpi)
                background-image: var(--bg-image-sm-2x)
            @media only screen and ( min-resolution: 2dppx)
                background-image: var(--bg-image-sm-2x)

            @media only screen and (-webkit-min-device-pixel-ratio: 3)
                background-image: var(--bg-image-sm-3x)
            @media only screen and ( min--moz-device-pixel-ratio: 3)
                background-image: var(--bg-image-sm-3x)
            @media only screen and ( -o-min-device-pixel-ratio: 3/1)
                background-image: var(--bg-image-sm-3x)
            @media only screen and ( min-device-pixel-ratio: 3)
                background-image: var(--bg-image-sm-3x)
            @media only screen and ( min-resolution: 288dpi)
                background-image: var(--bg-image-sm-3x)
            @media only screen and ( min-resolution: 3dppx)
                background-image: var(--bg-image-sm-3x)

        @include media-breakpoint-up(md)
            background-image: var(--bg-image-md)
            @media only screen and (-webkit-min-device-pixel-ratio: 2)
                background-image: var(--bg-image-md-2x)
            @media only screen and ( min--moz-device-pixel-ratio: 2)
                background-image: var(--bg-image-md-2x)
            @media only screen and ( -o-min-device-pixel-ratio: 2/1)
                background-image: var(--bg-image-md-2x)
            @media only screen and ( min-device-pixel-ratio: 2)
                background-image: var(--bg-image-md-2x)
            @media only screen and ( min-resolution: 192dpi)
                background-image: var(--bg-image-md-2x)
            @media only screen and ( min-resolution: 2dppx)
                background-image: var(--bg-image-md-2x)

            @media only screen and (-webkit-min-device-pixel-ratio: 3)
                background-image: var(--bg-image-md-3x)
            @media only screen and ( min--moz-device-pixel-ratio: 3)
                background-image: var(--bg-image-md-3x)
            @media only screen and ( -o-min-device-pixel-ratio: 3/1)
                background-image: var(--bg-image-md-3x)
            @media only screen and ( min-device-pixel-ratio: 3)
                background-image: var(--bg-image-md-3x)
            @media only screen and ( min-resolution: 288dpi)
                background-image: var(--bg-image-md-3x)
            @media only screen and ( min-resolution: 3dppx)
                background-image: var(--bg-image-md-3x)

        @include media-breakpoint-up(lg)
            background-image: var(--bg-image-lg)
            @media only screen and (-webkit-min-device-pixel-ratio: 2)
                background-image: var(--bg-image-lg-2x)
            @media only screen and ( min--moz-device-pixel-ratio: 2)
                background-image: var(--bg-image-lg-2x)
            @media only screen and ( -o-min-device-pixel-ratio: 2/1)
                background-image: var(--bg-image-lg-2x)
            @media only screen and ( min-device-pixel-ratio: 2)
                background-image: var(--bg-image-lg-2x)
            @media only screen and ( min-resolution: 192dpi)
                background-image: var(--bg-image-lg-2x)
            @media only screen and ( min-resolution: 2dppx)
                background-image: var(--bg-image-lg-2x)

            @media only screen and (-webkit-min-device-pixel-ratio: 3)
                background-image: var(--bg-image-lg-3x)
            @media only screen and ( min--moz-device-pixel-ratio: 3)
                background-image: var(--bg-image-lg-3x)
            @media only screen and ( -o-min-device-pixel-ratio: 3/1)
                background-image: var(--bg-image-lg-3x)
            @media only screen and ( min-device-pixel-ratio: 3)
                background-image: var(--bg-image-lg-3x)
            @media only screen and ( min-resolution: 288dpi)
                background-image: var(--bg-image-lg-3x)
            @media only screen and ( min-resolution: 3dppx)
                background-image: var(--bg-image-lg-3x)

        @include media-breakpoint-up(xl)
            background-image: var(--bg-image-xl)
            @media only screen and (-webkit-min-device-pixel-ratio: 2)
                background-image: var(--bg-image-xl-2x)
            @media only screen and ( min--moz-device-pixel-ratio: 2)
                background-image: var(--bg-image-xl-2x)
            @media only screen and ( -o-min-device-pixel-ratio: 2/1)
                background-image: var(--bg-image-xl-2x)
            @media only screen and ( min-device-pixel-ratio: 2)
                background-image: var(--bg-image-xl-2x)
            @media only screen and ( min-resolution: 192dpi)
                background-image: var(--bg-image-xl-2x)
            @media only screen and ( min-resolution: 2dppx)
                background-image: var(--bg-image-xl-2x)

            @media only screen and (-webkit-min-device-pixel-ratio: 3)
                background-image: var(--bg-image-xl-3x)
            @media only screen and ( min--moz-device-pixel-ratio: 3)
                background-image: var(--bg-image-xl-3x)
            @media only screen and ( -o-min-device-pixel-ratio: 3/1)
                background-image: var(--bg-image-xl-3x)
            @media only screen and ( min-device-pixel-ratio: 3)
                background-image: var(--bg-image-xl-3x)
            @media only screen and ( min-resolution: 288dpi)
                background-image: var(--bg-image-xl-3x)
            @media only screen and ( min-resolution: 3dppx)
                background-image: var(--bg-image-xl-3x)

        @include media-breakpoint-up(xxl)
            background-image: var(--bg-image-xxl)
            @media only screen and (-webkit-min-device-pixel-ratio: 2)
                background-image: var(--bg-image-xxl-2x)
            @media only screen and ( min--moz-device-pixel-ratio: 2)
                background-image: var(--bg-image-xxl-2x)
            @media only screen and ( -o-min-device-pixel-ratio: 2/1)
                background-image: var(--bg-image-xxl-2x)
            @media only screen and ( min-device-pixel-ratio: 2)
                background-image: var(--bg-image-xxl-2x)
            @media only screen and ( min-resolution: 192dpi)
                background-image: var(--bg-image-xxl-2x)
            @media only screen and ( min-resolution: 2dppx)
                background-image: var(--bg-image-xxl-2x)

            @media only screen and (-webkit-min-device-pixel-ratio: 3)
                background-image: var(--bg-image-xxl-3x)
            @media only screen and ( min--moz-device-pixel-ratio: 3)
                background-image: var(--bg-image-xxl-3x)
            @media only screen and ( -o-min-device-pixel-ratio: 3/1)
                background-image: var(--bg-image-xxl-3x)
            @media only screen and ( min-device-pixel-ratio: 3)
                background-image: var(--bg-image-xxl-3x)
            @media only screen and ( min-resolution: 288dpi)
                background-image: var(--bg-image-xxl-3x)
            @media only screen and ( min-resolution: 3dppx)
                background-image: var(--bg-image-xxl-3x)
