.story-gallery
    .odd-row:nth-of-type(1n)
        picture.even
            transform: scale(1) 
            transition: transform 0.15s 0.25s ease-out
            @include media-breakpoint-up(md)
                transform: scale(0.95) rotate(2deg) translate(1rem, -1rem)
    // .even-row:nth-of-type(1n)
    //     picture.even
    //         transition: transform 0.15s 0.25s ease-out
    //         transform-origin: left bottom
    //         @include media-breakpoint-up(md)
    //             transform: scale(0.95) rotate(-2deg) translate(-1rem, 1rem)

            