.hamburger
    outline: 0 !important
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none 
    &:focus-visible
        outline: 0
    &.collapsed
        .hamburger-box
            .hamburger-inner
                width: $hamburger-layer-width
                background-color: lighten($primary, 50%)
                &::before
                    width: $hamburger-layer-width
                    margin-left: 5px
                    background-color: lighten($primary, 30%)
                &::after
                    width: $hamburger-layer-width - 5px
