header
    position: relative
    background: $primary url('../assets/img/concrete_wall_2_@2X.jpg') repeat top left
    background-size: 400px auto
    h1 
        z-index: 3
    picture
        z-index: 2
    &.has-image
        &::before
            content: ''
            position: absolute
            bottom: 0
            left: 0
            right: auto
            top: auto
            display: block
            height: $spacer * 1.5
            background-color: $body-bg
            width: 100%

            @include media-breakpoint-up(lg)
                height: $spacer * 3
            
.text-shadow
    text-shadow: 3px 3px 6px transparentize($dark, 0.5)

.text-shadow-lg
    text-shadow: 5px 5px 12px transparentize($dark, 0.5)