.reviews
    cursor: grab
    overflow-x: scroll
    -ms-overflow-style: none
    scrollbar-width: none
    &::-webkit-scrollbar
        display: none

    .card.review
        min-width: 60%
        @include media-breakpoint-up(sm)
            min-width: 50%
        @include media-breakpoint-up(md)
            min-width: 40%
        @include media-breakpoint-up(lg)
            min-width: 30%
        @include media-breakpoint-up(xl)
            min-width: 25%
        @include media-breakpoint-up(xxl)
            min-width: 20%
        .review__content
            display: -webkit-box
            -webkit-line-clamp: 5
            -webkit-box-orient: vertical
            overflow: hidden  